<div class="rules-container">
<div class="rules">
<b>Explicamos las reglas brevemente:</b>
<br>
<b>1.    La penca está prevista en dos etapas:</b><br>
<br>
<p>
<b>A.   PRIMERA FASE: </b>
Inicialmente todos deberán completar los resultados de todos los grupos de la primera fase. Se irán adjudicando los puntos de acuerdo a las reglas de puntuación que detallaremos a continuación. Una vez concluida la primera fase se pasará a la segunda etapa.
La fecha máxima para la pronosticación de los resultados será el día MIERCOLES 11 de JUNIO a las 24 has. Los pronósticos serán bloqueados luego de esa fecha y ya no podrán ingresarse.
</p>
<b>B.   DE OCTAVOS EN ADELANTE:</b>
<p>
Cuando ya se encuentren definidos los clasificados para cada llave se podrá ir completando el
pronostico para cada una de ellas y los demás cruces que se vayan a dar en la fase de eliminatoria del mundial.
La fecha máxima para la pronosticación de todos los resultados de la fase de eliminatoria será el día VIERNES 27 de JUNIO a las 24 hs (día anterior al comienzo de los octavos de final).
</p>
<b>2.    La puntuación de la penca está prevista de la siguiente manera:</b><br><br>
<p>
<b>A.   PUNTAJE DE PARTIDOS EN PRIMERA FASE:</b><br>
El puntaje que se atribuirá por cada partido será de la siguiente manera:<br>
<b>20 PUNTOS:</b> Acertar Ganador/ Empate  <br>
<b>10 PUNTO:</b> Acertar cantidad de goles convertidos por un equipo  <br>
<b>50 PUNTOS:</b> Acertar resultado exacto de un partido    
<br>
Ejemplo: Partido que salió:
EQUIPO A 2 - EQUIPO B 3   <br>
Jugador W Puso: EQUIPO A 0 - EQUIPO B 3: (Puntos que gana 20+10=30) <br>
Jugador X Puso: EQUIPO A 2 - EQUIPO B 0: (Puntos que gana 10) <br>
Jugador Y Puso: EQUIPO A 3 - EQUIPO B 3: (Puntos que gana 10) <br>
Jugador Z Puso: EQUIPO A 2 - EQUIPO B 3: (Puntos que gana 50)
</p>
<p>
<b>B.   PUNTAJE POR ACERTAR CLASIFICADOS A OCTAVOS:</b><br>
El puntaje que se atribuirá por acertar los clasificados a la fase de octavos de final es el siguiente:
<b>20 PUNTOS:</b> Por acertar cada equipo que pasa a Octavos de Final.  
<b>10 PUNTO:</b> Por acertar la posición en la que se clasifica (Primero o Segundo)
<br>
Ejemplo:
Clasifica Equipo A y Equipo C, primero y segundo respectivamente:<br>
Jugador X Puso: 1ero EQUIPO A Y 2do EQUIPO B: (Puntos que gana 20+10=30) <br>
Jugador Y Puso: 1ero EQUIPO C Y 2do EQUIPO A: (Puntos que gana 20+20=40) <br>
Jugador Z Puso: 1ero EQUIPO A Y 2do EQUIPO C: (Puntos que gana 20+20+10+10=60)
</p>
<p>
<b>C.   PUNTAJE DE PARTIDOS DE OCTAVOS EN ADELANTE:</b><br>
El puntaje que se atribuirá en los partidos de octavos en adelante será el mismo para el de los partidos de la primera fase.
Lógicamente quienes, de cuartos de final en adelante, acierten los cruces podrán sumar los puntos de los resultados del partido y los goles.
Quienes no acierten a alguno de los clasificados de la llave no podrán sumar por los goles y únicamente podrán sumar 2 puntos por embocar al ganador del partido, aunque no sea en el cruce que había pronosticado.
<br>
Ejemplo:
Se da un cruce de 4tos de final o semifinal entre EQUIPO A 2 - EQUIPO B 1 (Clasifica Equipo A):<br>
Jugador X Puso: EQUIPO A 2 - EQUIPO B 1: (Puntos que gana 50) <br>
Jugador Y Puso: EQUIPO A 2 - EQUIPO B 0: (Puntos que gana 20+10=30) <br>
Jugador Z Puso: EQUIPO A 2 - EQUIPO C (No clasificado) 1: (Puntos que gana 20 por acertar que el equipo A ganó el partido)
</p>
<p>
<b>D.   PUNTAJES ADICIONALES:</b><br>
Además de los anteriormente relatados, se adjudicarán 100 puntos adicionales por acertar al campeón. Con esto se busca premiar a aquél que viendo los cruces de octavos de final pudo acertar al ganador del mundial.
</p>
</div>
</div>