<div class="rules-container">
<div class="rules">
<b>Basic competition rules:</b>
<br>
<b>1.    Bracket consists of four stages:</b><br>
<br>
<p>
<b>A.   GROUPS STAGE: </b>
Every competitor should initially complete their forecasts for the group stages before the tournament kick-off (forecasts will be disabled after that moment). Points will be assigned according to the rules defined next. Once the groups stage is complete, quarter finals stage will start.
</p>
<b>B.   QUARTER FINALS STAGE:</b>
<p>
Once the quarter finalists are defined, each competitor will be able to forecast the result for each of the quarter final matches. Again, quarter finals forecasts will be disabled after quarter finals kick-off.
</p>
<b>B.   SEMI FINALS STAGE:</b>
<p>
  Once the semi finalists are defined, each competitor will be able to forecast the result for each of the semi final matches. Again, semi finals forecasts will be disabled after semi finals kick-off.
</p>
<b>B.   FINALS STAGE:</b>
<p>
  Once the tournament finalists are defined, each competitor will be able to forecast the result for final match as well as the third-place match. Again, finals forecasts will be disabled after third-place match kick-off.
</p>
<b>2.    Brackets points will be awarded as follows:</b><br><br>
<p>
<b>A.   GROUPS STAGE MATCHES:</b><br>
Each groups stage's match will award competitors points according to these rules:<br>
<b>3 POINTS:</b> Correctly forecasted match's winner team or draw  <br>
<b>1 POINT:</b> Correctly forecasted number of goals scored by a team in the match  <br>
<br>
E.g: Match ended:
TEAM A 2 - TEAM B 3   <br>
Competitor forecasted: TEAM A 0 - TEAM B 3: (Earns 3 + 0 + 1 = 4 points) <br>
Competitor forecasted: TEAM A 2 - TEAM B 0: (Earns 0 + 1 + 0 = 1 point) <br>
Competitor forecasted: TEAM A 3 - TEAM B 3: (Earns 0 + 0 + 1 = 1 point) <br>
Competitor forecasted: TEAM A 2 - TEAM B 3: (Earns 3 + 1 + 1 = 5 points)
</p>
<!--<p>-->
<!--<b>B.   PUNTAJE POR ACERTAR CLASIFICADOS A OCTAVOS:</b><br>-->
<!--El puntaje que se atribuirá por acertar los clasificados a la fase de octavos de final es el siguiente:-->
<!--<b>20 PUNTOS:</b> Por acertar cada equipo que pasa a Octavos de Final.  -->
<!--<b>10 PUNTOS:</b> Por acertar la posición en la que se clasifica (Primero o Segundo)-->
<!--<br>-->
<!--Ejemplo:-->
<!--Clasifica Equipo A y Equipo C, primero y segundo respectivamente:<br>-->
<!--Jugador X Puso: 1ero EQUIPO A Y 2do EQUIPO B: (Puntos que gana 20+10=30) <br>-->
<!--Jugador Y Puso: 1ero EQUIPO C Y 2do EQUIPO A: (Puntos que gana 20+20=40) <br>-->
<!--Jugador Z Puso: 1ero EQUIPO A Y 2do EQUIPO C: (Puntos que gana 20+20+10+10=60)-->
<!--</p>-->
<!--<p>-->
<!--<b>C.   PUNTAJE DE PARTIDOS DE OCTAVOS EN ADELANTE:</b><br>-->
<!--El puntaje que se atribuirá en los partidos de octavos en adelante será el mismo para el de los partidos de la primera fase.-->
<!--Lógicamente quienes, de cuartos de final en adelante, acierten los cruces podrán sumar los puntos de los resultados del partido y los goles.-->
<!--Quienes no acierten a alguno de los clasificados de la llave no podrán sumar por los goles y únicamente podrán sumar 20 puntos por embocar al ganador del partido, aunque no sea en el cruce que había pronosticado.-->
<!--<br>-->
<!--Ejemplo:-->
<!--Se da un cruce de 4tos de final o semifinal entre EQUIPO A 2 - EQUIPO B 1 (Clasifica Equipo A):<br>-->
<!--Jugador X Puso: EQUIPO A 2 - EQUIPO B 1: (Puntos que gana 50) <br>-->
<!--Jugador Y Puso: EQUIPO A 2 - EQUIPO B 0: (Puntos que gana 20+10=30) <br>-->
<!--Jugador Z Puso: EQUIPO A 2 - EQUIPO C (No clasificado) 1: (Puntos que gana 20 por acertar que el equipo A ganó el partido)-->
<!--</p>-->
<!--<p>-->
<!--<b>D.   PUNTAJES ADICIONALES:</b><br>-->
<!--Además de los anteriormente relatados, se adjudicarán 100 puntos adicionales por acertar al campeón. Con esto se busca premiar a aquél que viendo los cruces de octavos de final pudo acertar al ganador del mundial.-->
<!--</p>-->
</div>
</div>