<h1>Listing arenas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Capacity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @arenas.each do |arena| %>
      <tr>
        <td><%= arena.name %></td>
        <td><%= arena.city %></td>
        <td><%= arena.capacity %></td>
        <td><%= link_to 'Show', arena %></td>
      </tr>
    <% end %>
  </tbody>
</table>
