.forecasts-container
  .row
    - @standings.each_pair do |group, participants|
      .group-standings-panel
        .title
          = group
        %table
          %tr.header
            %th.name Participante
            %th Puntos
          - participants.each do |user|
            %tr
              %td.name
                = user.name.present? ? user.name : user.email
              %td= user.points || 0