.forecasts-container {
  form {
    margin: 0;
  }

  input[type="text"] {
    background-color: transparent;
    color: #FFFFFF;
    border: none;

    padding: 0;

    width: 22px;
    height: 28px;
    text-align: center;
    font-weight: bold;

    font-size: 16px;

    line-height: 30px;
    vertical-align: middle;
  }

  .columns {
    padding: 0 8px;
  }

  .group-panel {
    width: 430px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 15px 15px;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;

    .title {
      padding-bottom: 2px;
      border-bottom: 1px solid #FFFFFF;
      font-size: 20px;
      font-weight: bold;
    }

    .matches {
      margin: 0;

      li {
        list-style-type: none;
      }

      .match {
        margin: 0;
        width: 240px;
        display: block;
        height: 30px;
        margin-top: 8px;

        .team {
          color: #FFFFFF;
          font-size: 15px;
          overflow: hidden;
          height: 30px;

          white-space: nowrap;

          line-height: 30px;
          vertical-align: middle;

          &.left-team {
            text-align: left;
          }

          &.right-team {
            text-align: right;
          }
        }

        .team-score {
          font-size: 16px;

          padding: 0;
          margin: 0 6px;
          width: 24px;
          height: 30px;
          text-align: center;
          font-weight: bold;

          line-height: 30px;
          vertical-align: middle;

          background-color: transparent;
          color: #FFFFFF;

          border: 1px solid #FFFFFF;
        }
      }
    }

    .positions {
      margin-top: 22.5px;
      height: 175px;

      table {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        table-layout: fixed;
        width: 155px;

        tr {
          width: 155px;
          height: 30px;
          white-space: nowrap;

          color: #FFFFFF;

          background-color: transparent !important;

          th {
            width: 25px;
            color: #FFFFFF;
            border-bottom: 1px solid #FFFFFF;
            font-size: 10px;

            &.team {
              width: 80px;
              border-right: 1px solid #FFFFFF;
            }
          }

          td {
            width: 25px;
            color: #FFFFFF;
            overflow: hidden;
            font-size: 12px;

            &.team {
              width: 80px;
              font-size: 10px;
              text-align: left;
              border-right: 1px solid #FFFFFF;

              strong {
                font-size: 12px;
                color: greenyellow;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  }

  .playoffs {
    background-color: rgba(0, 0, 0, 0.8);

    color: #FFFFFF;

    width: 890px;
    height: 400px;

    margin: 20px auto;

    .stage {
      width: 14.286%;
      height: 400px;

      .four {
        height: 100px;
        margin: 0px;

        .match {
          padding-top: 14px;
        }
      }
      .two {
        height: 200px;
        margin: 0px;

        .match {
          padding-top: 64px;
        }
      }

      .one {
        height: 400px;
        margin: 0px;

        .match {
          padding-top: 164px;
        }
      }

      .match {
        height: 72px;

        .team {
          width: 100%;

          .name {
            height: 32px;
            width: 60px;
            margin: 2px;
            overflow: hidden;
            font-size: 12px;
            line-height: 32px;
          }

          .score {
            height: 28px;
            width: 28px;
            border: 1px solid #FFFFFF;
            margin: 4px;
            overflow: hidden;

            text-align: center;
            line-height: 27px;

            color: darkred;
          }
        }
      }

      &.left-side {
        .team {
          .name {
            text-align: left;
            float: left;
          }

          .score {
            float: left;
          }
        }
      }

      &.right-side {
        .team {
          .name {
            text-align: right;
            float: right;
          }

          .score {
            float: right;
          }
        }
      }

      &.center-side {
        .team {
          .score {
            float: left;
            margin-left: 41.5px;
          }
        }
      }
    }

  }
}

.auto-height {
  height: 100%;
}

.save-forecast-btn {
  width: 400px;
  margin: 20px 20px;
}