.rules-container {
  padding: 40px;

  .rules {
    color: #FFF;
    background-color: rgba(0,0,0, 0.8);
    text-align: left;
    width: 50%;
    margin: auto;
    padding: 30px;
    line-height: 30px;
  }
}